//----- Области сетки разделов----------------------------------------------------
.soft-dev {
	grid-area: soft-dev;
}
.agreg-delivery {
	grid-area: agreg-delivery;
}
.fintech {
	grid-area: fintech;
}
.education {
	grid-area: education;
}
.e-shop {
	grid-area: e-shop;
}
.gamedev {
	grid-area: gamedev;
}
.medecine {
	grid-area: medecine;
}
.sysintegration {
	grid-area: sysintegration;
}
.smartcity {
	grid-area: smartcity;
}
.edu-est {
	grid-area: edu-est;
}
.transport {
	grid-area: transport;
}
.marketing-design {
	grid-area: marketing-design;
}
.business-solution {
	grid-area: business-solution;
}
.media {
	grid-area: media;
}
.telecom {
	grid-area: telecom;
}
.property {
	grid-area: theproperty;
}
.Services-1C {
	grid-area: services;
}

//------Области сетки логотипов----------------------------------------
//------Дого разработка
.epam {
	grid-area: epam;
}
.gexabyte {
	grid-area: gexabyte;
}
.itbc {
	grid-area: itbc;
}
.itera {
	grid-area: itera;
}
.jazzsoft {
	grid-area: jazzsoft;
}
.libertas {
	grid-area: libertas;
}
.luxystech {
	grid-area: luxystech;
}
.simplecode {
	grid-area: simplecode;
}
.softline {
	grid-area: softline;
}
.terricon {
	grid-area: terricon;
}
.left-container {
	grid-area: left-container;
}

//--------Лого агрегаторы доставка
.cvetogis {
	grid-area: cvetogis;
}
.edok {
	grid-area: edok;
}
.emenu {
	grid-area: emenu;
}
.kura {
	grid-area: kura;
}

//--------Финтех
.banker {
	grid-area: banker;
}
.wooppay {
	grid-area: wooppay;
}
.wk {
	grid-area: wk;
}
.wooppay-wallet {
	grid-area: wooppay-wallet;
}

//----------Образование
.bilimal {
	grid-area: bilimal;
}
.mamandyk {
	grid-area: mamandyk;
}
.robo {
	grid-area: robo;
}
.scholarship {
	grid-area: scholarship;
}

//---------Интернет магазины
.biosfera {
	grid-area: biosfera;
}
.flip {
	grid-area: flipkz;
}
.mama-mia {
	grid-area: mama-mia;
}
.radist {
	grid-area: radist;
}
.src {
	grid-area: srckz;
}
.videoset {
	grid-area: vidioset;
}
.ww {
	grid-area: ww;
}
.sanmarket {
	grid-area: sanmarket;
}

//-----------Недвижимость
.kn {
	grid-area: kn;
}
.richhouse {
	grid-area: richhouse;
}
.stl {
	grid-area: stl;
}
.workapp {
	grid-area: workapp;
}

//------------Игроделы
.dreamdate {
	grid-area: dreamgate;
}
.anima {
	grid-area: anima;
}

//-------------Медицина
.damumed {
	grid-area: damumed;
}

//------Интеграторы
.novator {
	grid-area: novator;
}
.plusmicro {
	grid-area: plusmicro;
}
.profit {
	grid-area: profit;
}
.xnet {
	grid-area: xnet;
}

//-------Смартсити
.belsendi-azamat {
	grid-area: belsendi-azamat;
}
.npo {
	grid-area: npo;
}
.propusk {
	grid-area: propusk;
}
.senim {
	grid-area: senim;
}

//----------Учебные заведения
.bank-colledge {
	grid-area: bankcolledge;
}
.kar-econom {
	grid-area: keu;
}
.kargtu {
	grid-area: kargtu;
}
.kargu {
	grid-area: kargu;
}
.step {
	grid-area: step;
}

//--------1С сервисы
.it-shef {
	grid-area: itshef;
}
.plast {
	grid-area: plast;
}
.vaniev {
	grid-area: vaniev;
}

//----------Транспорт
.regionk {
	grid-area: regionk;
}
.smartgaz {
	grid-area: smartgaz;
}

//----------Маркетинг и дизайн
.avrora {
	grid-area: avrora;
}
.brandfactory {
	grid-area: brendfactory;
}
.cactus {
	grid-area: cactus;
}
.zigzag {
	grid-area: zigzag;
}

//------------Решения для бизнесса

.gohost {
	grid-area: gohost;
}
.hoster {
	grid-area: hoster;
}
.k2 {
	grid-area: k2;
}
.mindpro {
	grid-area: mindpro;
}
.wto {
	grid-area: wto;
}

//-----------Медиапорталы
.ekar {
	grid-area: ekar;
}
.go {
	grid-area: go;
}
.nv {
	grid-area: nv;
}
.sportkz {
	grid-area: sportkz;
}

//----------Операторы связи
.asiabel {
	grid-area: asiabel;
}
.cherrynet {
	grid-area: cherrynet;
}
.fishnet {
	grid-area: fishnet;
}
.megatel {
	grid-area: megatel;
}
.optinet {
	grid-area: optinet;
}
.ttk {
	grid-area: ttk;
}

.terricon-valey {
	grid-area: terricon-valey;
}
.trv {
	grid-area: trv;
}
